{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
    <br>
    <h2>Cadastrar Serviços</h2>
    <br>
	<form method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-8">
				<div class="form-group ">
					<label for="{{ form.nome.id_for_label }}">Nome :</label>
                   {{ form.nome|add_class:"form-control" }}
				</div>
			</div>
			</div>
		
			<div class="col-md-4">
				<button class="btn btn-success" type="submit">cadastrar serviço</button>
				<a href="{% url 'home' %}" class="btn btn-danger" type="submit">cancelar cadastro</a>
			</div>
		   
	</form>
{% endblock body %}